* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #141833;
    color: #ffff;
    font-family: "DotGothic16", sans-serif;
}

body,
ul,
li {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.menu {
    display: flex;
    margin: 20px auto;
    gap: 10px;
    font-size: 30px;


}

.menu li {
    margin-left: 20px;

}

a:hover {
    color: rgb(234, 166, 20);
    transition: 0.9s;
      
}

section {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 40px;
    padding: 40px 20px;
    min-height: 80vh;
}

h3 {
    margin: 10px 10px 40px 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 18px
}

h1 {
    font-size: clamp(2rem, 5vw, 5.62rem);
    font-weight: 700;
    margin: 10px;
    padding: 10px;
    color: rgb(234, 166, 20);

}

p {
    margin: 10px;
    padding: 10px;
    width: 50%;
    text-align: justify;
    justify-content: center;

}

.img-logo {
    width: 50%;
    padding: 0px;
    height: 100%;
    object-fit: contain;
}

.icons-contatos {
    width: 50px;
}

.redes-sociais {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin: 20px 10px 40px 10px;

}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
#contato,
#projeto {
    font-size: 28px;
    border: none;
    width: 130px;
    color: #141833;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}

#contato:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(234, 166, 20);
}
#projeto:hover {
    transform: scale(1.05);
    cursor: pointer;
    background-color: rgb(234, 166, 20);
}


footer {
    color: #ffff;
    position: relative;
    padding: 5px;
    text-align: center;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .img-logo {
        width: 80%;
    }

    p {
        width: 90%;
    }

    .menu {
        gap: 5px;
        font-size: 18px;
    }

    a {
        font-size: 20px;
    }

    .botoes {
        justify-content: center;
    }

}